.elements__button-delete {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/button_delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.elements__button-delete:hover {
  opacity: 0.5;
}