.header__logo {
  margin-bottom: 41px;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    margin-bottom: 38px;
    width: 130px;
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-bottom: 35px;
    padding-left: 20px;
    width: 117px;
    height: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-bottom: 31.6px;
    padding-left: 27px;
    width: 103.74px;
    height: 24.4px;
  }
}
