.popup__card-container {
  width: auto;
  height: auto;
  margin: auto 90px;
  position: relative;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

@media screen and (max-width: 600px) {
  .popup__card-container {
    margin: auto 40px;
  }
}