.popup__button-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/button_popup_close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
