.profile__name-container {
  max-width: 336px;
  max-height: 39px;
  margin: 0 auto;
  padding: 22px 0 16px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@media screen and (max-width: 600px) {
  .profile__name-container {
    max-width: 282px;
    padding: 22.25px 0 14px;
  }
}
