.profile__name-container {
  max-width: 336px;
  margin: 0 auto;
  padding: 22px 0 8px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@media screen and (max-width: 600px) {
  .profile__name-container {
    max-width: 282px;
    padding: 26px 0 14px;
  }
}
