.profile__button_type_edit {
  background-image: url(../../../images/button_name-edit.svg);
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
}

@media screen and (max-width: 600px) {
  .profile__button_type_edit {
    width: 18px;
    height: 18px;
  }
}
